body{
    background-image: url("https://img.freepik.com/free-photo/luxury-plain-green-gradient-abstract-studio-background-empty-room-with-space-your-text-picture_1258-54283.jpg");

    background-size: no-repeat;

    background-position: center;

    background-size: cover;

    height: 400px;

    width: 400px;

}